/* 你好呵呵呵 */
/*------------- S reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致 -----------------*/
html {
  background: #fff;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  /*设置所有的盒子的宽度以边框开始计算*/
  -webkit-box-sizing: border-box;
  /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
  box-sizing: border-box;
}
html,
body {
  background: #f7f7f7;
  color: #e0e0e0;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
  margin: 0;
  padding: 0;
  /*在移动端特殊的设置*/
}
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
ins,
a {
  text-decoration: none;
  color: #e0e0e0;
}
a:hover {
  color: #e0e0e0;
}
input,
textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊的属性定义  清除浏览器给input自带的样式*/
  -webkit-appearance: none;
  /*组件默认的样式空*/
}
/*------------- E  reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致 -----------------*/
/*------------- S common css  也就是我们公用的css -------------*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after,
.clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.w33 {
  width: 33.3333%;
}
.w50 {
  width: 50%;
}
/*------------- E common css  也就是我们公用的css -------------*/
