@charset "UTF-8";
body {
  background-color: #fff;
}
.category {
  width: 100%;
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 0.125rem;
}
.category > ul > li > a {
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  display: block;
  font-size: 0.4rem;
  font-weight: 700;
  padding: 0 0.5rem;
  border-bottom: 1px solid #ccc;
}
.category .category_content {
  background-color: #f9f9f9;
}
.category .category_content > li {
  float: left;
  width: 33.33%;
}
.category .category_content > li a {
  display: block;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 0.4rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
