@charset "UTF-8";
body {
  background-color: #fff;
}
h4 {
  width: 100%;
  padding: 0 1.25rem;
  height: 1.125rem;
  line-height: 1.125rem;
  font-size: 0.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center ;
}
.header_back {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0;
  top: 0;
}
.header_back a {
  background: url("../images/icon_bar.png") no-repeat -2rem 0.125rem;
  background-size: 5.375rem;
  width: 100%;
  height: 100%;
  display: block;
}
.mmb_footer {
  background-color: #eee;
}
.money_product {
  padding: 0.25rem;
}
.money_content h3 {
  font-size: 0.5rem;
  color: #5a5a5a;
  margin: 0.25rem 0;
}
.money_content .title {
  font-size: 0.35rem;
  color: #ff841d;
  font-weight: 700;
}
.money_content .info {
  font-size: 0.3rem;
  color: #666;
  padding: 0.25rem 0;
  text-indent: 0.1rem;
}
.money_content .detail .pic_r {
  float: right;
}
.money_content .detail .pic_r img {
  width: 3rem;
  height: 3rem;
  margin: 0.375rem;
}
.money_content .detail .text {
  font-size: 0.4rem;
  color: #606060;
  line-height: 1.4;
}
.money_content .detail .big_pic img {
  max-width: 100%;
}
.money_content .detail .areas ul {
  width: 115px;
  margin: 0 auto;
  padding: 0.25rem;
  box-shadow: 1px 1px 1px 1px #ccc;
}
.money_content .detail .areas ul li {
  font-size: 0.3rem;
  width: 100%;
  padding: 0 0.125rem;
}
.money_content .detail .areas ul li a {
  width: 100%;
  display: block;
  padding: 0.05rem 0.2rem;
  border-bottom: 1px dotted #ccc;
}
.money_content .detail .areas ul li span {
  display: block;
  text-align: left;
}
.money_content .detail .areas ul li strong {
  float: right;
  font-weight: 400;
  color: #ff841d;
}
.money_content .detail button {
  width: 100%;
  height: 0.75rem;
  background-color: #ff841d;
  margin: 0.5rem auto;
  border-radius: 0.125rem;
  color: #fff;
}
.money_content .ad {
  text-align: center;
  margin-top: 0.25rem;
}
.money_content .ad img {
  width: 100%;
}
.money_content .comment {
  font-size: 0.4rem;
  margin: 0.625rem 0;
}
.money_content .comment li {
  margin: 0.5rem 0;
}
.money_content .comment .tit {
  margin: 0.25rem;
}
.money_content .comment .form {
  height: 2.9rem;
  border: 2px solid #ECEAE8;
  position: relative;
}
.money_content .comment .form textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding-bottom: 0.9rem;
}
.money_content .comment .form .ctrl {
  position: relative;
  height: 0.9rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  background-color: #f1f1f1;
}
.money_content .comment .form .ctrl input {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0.9rem;
  background-color: #ff841d;
  padding: 0 0.5rem;
  color: #fff;
}
.money_content .comment .userimg {
  float: left;
}
.money_content .comment .userimg img {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: auto 0.5rem;
}
.money_content .comment .con {
  overflow: hidden;
}
.money_content .comment .name {
  font-size: 0.3rem;
  margin: 0.125rem 0;
}
.money_content .comment .name .username {
  float: left;
  color: #5997c0;
}
.money_content .comment .name .time {
  float: right;
}
.money_content .comment .content {
  font-size: 0.35rem;
}
